.nav-item, .navbar-toggler {
  margin: 10px 1px 10px 5px;
}
.bigger-p {
  font-size: 1.25rem;
}
.larger-p{
  font-size: 1.75rem;
  margin: 16px;
}
.huge-p{
  font-size: 2.25rem;
  margin: 16px;
}
.small-p{
  font-size: 0.6rem;
  font-style: italic;
}
.rightNav {
  padding-left: 10px;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler {
  border-color: rgb(255,255,255,0.9);
}
h3{
  margin: 10px;
}
.container-fluid {
  margin: 0;
}
.jumbotron{
  margin: 0;
}
main{
  padding-top: 65px;
  margin:0;
  min-height: 70vh;
}
body{
  margin:0;
  padding:0;
}
#main-wrapper{
  padding: 65px 0 0 0;
}
.footer-wrapper, .section-space{
  margin: 0;
  padding: 40px 0;
}
.footer-text{
  font-size: 12px;
}
.footer-link {
  text-decoration: underline !important;
}
.section-space:last-child{
  padding-bottom: 60px;
}
.icon-big{
  font-size: 2.5rem;
}
.icon-huge{
  font-size: 4.25rem;
  padding: 8px;
}
.icon-giant{
  font-size:7.5rem;
  padding:12px;
}
ul.nav{
  float: right !important;

}
.w-33{
  width:33%;
}
.w-66{
  width:66%;
}
.js-alert{
  margin: 20px 15%;
}
.js-alert-text{
  margin:0;
}
